@import 'styles/color.scss';
.list {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 10rem 5rem;
    list-style: none;
    gap: 3rem;
    color: $color-text-white;
    .content {
        background-color: $color-secundary;
        padding: 2rem;
        display: flex;
        align-items: center;

        .text {
            margin-left: 1.5rem;
            .title {
                font-weight: 500;
            }
        }
    }
}